.footer {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hr {
    color: black;
    width:inherit;
}

.p1 {
    text-align: center;
    color: chocolate; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
}