.divbox1 {
    margin-top: 80px; 
    margin-left: 10%;
    margin-right: 10%;
    line-height:200%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.h1posts {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:40px;
    color: chocolate;
}

.postsdescriptions {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
}

.posts1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}
