/*Sub Menu*/
ul.submenu {
    list-style-type:none;
	overflow:hidden;
    background-color: chocolate;
    width:inherit;
    height: fit-content;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li.submenu {
    float:left;
    background-color: chocolate;
    color: white;
    text-decoration: none;
    
}

li a.submenu {
    display:block;
	width:fit-content;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    background-color: chocolate;
    text-decoration: none;
    padding-top: 15px;
}

@media screen and (max-width: 600px) {
    div.handysubmenu ul.submenu li.handysubmenu {
        margin-left: 7%;
    }
}